Test_Exam_Task_3_Client/Connected Services/ServiceReference/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sumResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mul">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mulResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="mulResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sub">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="subResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sumSoapIn">
    <wsdl:part name="parameters" element="tns:sum" />
  </wsdl:message>
  <wsdl:message name="sumSoapOut">
    <wsdl:part name="parameters" element="tns:sumResponse" />
  </wsdl:message>
  <wsdl:message name="mulSoapIn">
    <wsdl:part name="parameters" element="tns:mul" />
  </wsdl:message>
  <wsdl:message name="mulSoapOut">
    <wsdl:part name="parameters" element="tns:mulResponse" />
  </wsdl:message>
  <wsdl:message name="subSoapIn">
    <wsdl:part name="parameters" element="tns:sub" />
  </wsdl:message>
  <wsdl:message name="subSoapOut">
    <wsdl:part name="parameters" element="tns:subResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="sum">
      <wsdl:input message="tns:sumSoapIn" />
      <wsdl:output message="tns:sumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mul">
      <wsdl:input message="tns:mulSoapIn" />
      <wsdl:output message="tns:mulSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sub">
      <wsdl:input message="tns:subSoapIn" />
      <wsdl:output message="tns:subSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sum">
      <soap:operation soapAction="http://tempuri.org/sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mul">
      <soap:operation soapAction="http://tempuri.org/mul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sub">
      <soap:operation soapAction="http://tempuri.org/sub" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sum">
      <soap12:operation soapAction="http://tempuri.org/sum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mul">
      <soap12:operation soapAction="http://tempuri.org/mul" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sub">
      <soap12:operation soapAction="http://tempuri.org/sub" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="https://localhost:44309/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="https://localhost:44309/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>